# Set default behavior to automatically normalize line endings.
* text=auto

# linguist overrides https://github.com/github/linguist#overrides
#dev/* linguist-documentation

ShortURL.Data/Migrations/* linguist-generated=true

# fix script line endings
*.sh eol=lf
*.bash eol=lf

# fix CHANGELOG.md to default to union merge
CHANGELOG merge=union
